<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Portal - Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <style>
        .auth-form {
            max-width: 480px;
            margin: 0 auto;
            font-size: 1.2rem;
        }
    </style>

</head>

<body>

<section class="section">

    <div class="container">

        <div class="auth-form">

            <header class="title has-text-centered">Hello there!</header>

            <form method="post" action="/process_login">
                <fieldset>
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <div class="control">
                            <input class="input" type="text" id="username" name="username">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <div class="control">
                            <input class="input" type="password" id="password" name="password">
                        </div>
                    </div>

                    <div class="field">
                        <p class="control">
                            <button type="submit" class="button is-link has-text-weight-bold">Log in</button>
                        </p>
                        <p class="control mt-2">
                            Don't have an account?
                            <a class="link has-text-weight-bold" href="/auth/registration">
                                Sign up
                            </a>
                        </p>
                    </div>

                    <div class="notification is-danger is-light mt-4" th:if="${param.error}">
                        Invalid username or password
                    </div>
                </fieldset>
            </form>

        </div>

    </div>

</section>

</body>

</html>

