<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .squared-container {
            width: 600px;
            height: 400px;
            margin: 0 auto; /* Center horizontally */
        }
    </style>
</head>
<body>
<div th:replace="/common/navbar"></div>

<div class="container squared-container">
    <div class="notification is-primary is-light">
        <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
            <div class="field">
                <label class="label" for="name">Name:</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{name}" id="name" placeholder="Enter name">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
            </div>

            <div class="field">
                <label class="label" for="author">Author:</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{author}" id="author" placeholder="Enter author">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</p>
            </div>

            <div class="field">
                <label class="label" for="year">Year of publishing:</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{year}" id="year" placeholder="Enter year">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</p>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary has-text-weight-bold" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>